@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1e1e24;
  --red: #cc2936;
  --blue: #3c31e6;
  --cyan: #97f9f9;
  --white: #ffffff;
}

.btn{
  color: var(--dark);
}
.btn:hover{
  color: var(--white);
}
